
#idSplash {
  position: absolute;

  height: 100%;
  width: 90.3vh;

  z-index: -1;
  opacity: 0;
  background-color: black;

  transition: opacity 0.3s linear, z-index 0.3s step-end;
  overflow: hidden;
}

#idSplash.show {
  opacity: 0.9;
  z-index: 1;
  transition-timing-function: linear, step-start;
}

.lq-wrapper {
  margin-bottom: 1vh;
  opacity: 0.7;
  font-size: calc(1.5vh + 6px);
}
.lq-wrapper label:not(.hidden) {
  display: inline-flex;
}
.lq-wrapper label + label {
  margin-left: 2vh;
}
#idLq, #idLimit {
  width: calc(1.5vh + 8px);
  height: calc(1.5vh + 8px);
}

#idendgame {
  margin-bottom: -5vh;
  margin-top: 2vh;

  text-align: center;

  font-family: Play;
  color: white;
  font-size: 4vh;
}

#idendgame .congrats {
  color: #a84;
  -webkit-text-stroke: 1px white;
  font-size: 130%;
  text-shadow: 1px 1px rgba(255,255,255,0.66),
  -1px -1px rgba(255,255,255,0.66),
  1px -1px rgba(255,255,255,0.66),
  -1px 1px rgba(255,255,255,0.66);
}

#idendgame .thegame {
  -webkit-text-stroke: 1px #db7;
}

#idendgame .tuned {
  font-size: 80%;
}

.leaderboards {
  margin-top: 10%;
  width: 60%;
}

#idLeaderboards {
  position: relative;
  width: 100%;
  z-index: 1;

  border-spacing: 0.6vh;
  border-collapse: separate;

  font-family: Play;
  color: white;
  font-size: 3vh;
  text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}


#idLeaderboards caption {
  width: 67%;

  background-color: #875;

  padding: 4px;
  border-radius: 8px;
  border: 2px solid wheat;

  font-size: 3.2vh;
  margin-bottom: 1vh;
}

#idLeaderboards thead {
  color: wheat;
}
#idLeaderboards .num {
  text-shadow: none;
  width: 0;
  display: inline-block;
  font-size: 80%;
}

#idLeaderboards td:first-of-type {
  width: 60%;
  padding-left: 1.5vh;
  background-color: #ec7;

  text-align: left;
  color: white;
  font-size: 2.6vh;
  text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;

  border: 2px solid white;
  border-radius: 8px;

  white-space: nowrap;
  overflow: hidden;
}

#idLeaderboards  td:first-of-type.current {
  color: yellow;
}

#idLeaderboards td:nth-of-type(2) {
  font-size: 2.8vh;
  width: 25%;
}
#idLeaderboards td:last-of-type {
  width: 1%;
}

#idLeaderboards td {
  padding: 0 2vh;

  background-color: white;

  text-align: right;
  text-shadow: none;
  color: black;
  font-size: 3vh;

  border-radius: 8px;
  border: 2px solid #ec7;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  color: white;
  text-align: center;
  font-family: Play;
}

#idLeaderboards tbody tr:not(.alpha) {
  filter: saturate(0.8);
}

#idLeaderboards img {
  max-height: 4vh;
}

#idLeaderboards tbody tr td:nth-last-child(2) {
  border: 1px solid black!important;
  width: 5%;
  padding: 0 10px;
  text-align: center;
}

.credits {
  font-size: calc(1vh + 6px);
}

.credits .first-letter {
  display: inline-block;
  transform: scale(-1,1);
}

.help .hidden {
  display: none!important;
}

.phone {
  background: none!important;
  border: none!important;
  padding: 0!important;
}

.alpha {
  filter: saturate(1.4);
}

.tsuzuku {
  position: absolute;
  right: 0;
  bottom: 0;
  font-weight: bold;
  font-size: 7vh;
  opacity: 0.17;
  filter: blur(0.5vh);
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
}
